{% extends "base.html" %} 

{% block title %} About {% endblock title %}

{%block content %}

    <!-- Top Section - What is Get It -->
    <section class="about_top_container">
        <div class="container">
            <div class="center_container">
            <div>
                <h1 class="about_top_h">We are "GET IT"</h1>
            </div>
            <div class="about_p_container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                    ut aliquip ex ea commodo consequat.</p>
            </div>
            </div>
        </div>
    </section>


    <!-- Explanations for GET IT in 3 point -->
    <section class="container">
        <div class="about_container">
            <div class="box_text">
            <h2 class="about_middle_title">Leaning programing is<br>a long journey. </h2>
            <p class="ad_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="about_images"></div>
        </div>
    </section>
    <section class="container">
        <div class="ad_container">
            <div class="box_text">
            <h2 class="about_middle_title">Why learn with<br>GET IT Python? </h2>
            <p class="ad_p">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
            <div class="about_images"></div>
        </div>
    </section>
    <section class="container">
        <div class="ad_container">
            <div class="box_text">
            <h2 class="about_middle_title">Keep motivated and<br>keep stepping forward. </h2>
            <p class="ad_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="about_images"></div>
        </div>
        <hr>
    </section>


    <!-- GET IT - Many benefits -->
    <section class="container">
        <div class="points_container">
          <h1 class="about_points_title">Build Your Own Pathway to<br>Become a Professional Developper</h1>
          <p>GET IT PYTHON is a wonderful tool to help you study to achieve your goal.</p>
  
          <div class="about_points_flex">
            <div class="about_point">
                <i class="fas fa-award" id="benefit_icon"></i>
                <h2 class="about_point_heading">Reward Badges</h2>
                <p class="about_points_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="about_point">
                <i class="far fa-file-video" id="benefit_icon"></i>
                <h2 class="about_point_heading">Video Tutorial</h2>
                <p class="about_points_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="about_point">
                <i class="fas fa-user-tie" id="benefit_icon"></i>
                <h2 class="about_point_heading">Job Support</h2>
                <p class="about_points_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="about_point">
                <i class="fas fa-book-open" id="benefit_icon"></i>
                <h2 class="about_point_heading">Best Quality Tutorial</h2>
                <p class="about_points_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="about_point">
                <i class="fas fa-clock" id="benefit_icon"></i>
                <h2 class="about_point_heading">Time Management</h2>
                <p class="about_points_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="about_point">
                <i class="fas fa-headset" id="benefit_icon"></i>
                <h2 class="about_point_heading">User Support</h2>
                <p class="about_points_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <a href="#"></a><button class="point_button">Our Course</button></a>
        </div>
      </section>


{% endblock content %}