{% extends "base.html" %} 
{% load static %}

{% block title %} Home {% endblock title %}

{%block content %}
<!-- ########################## Contents ########################## -->
    <!-- Top Section -->
    <section class="top_container">
      <div class="container">
        <div class="center_container">
          <div>
            <h1 class="top_h">Learn Code with US</h1>
          </div>
          <div class="top_p_container">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
              veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
          <div class="top_btn_container">
            <a href="{% url 'about' %}"><button class="top_button">About Us</button></a>
          </div>
        </div>
      </div>
    </section>

    <!-- Ad for purchasing GET IT PYthon -->
    <section class="container">
      <div class="ad_container">
        <div class="box_text">
          <h2 class="ad_title">You want to learn how to code
            in a short time?</h2>
          <p class="ad_p">“Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
            veritatis et quasi architecto beatae vitae dicta sunt explicabo.” </p>
            <a href="{% url 'course_list' %}"><button class="ad_button">Get Started</button></a>
        </div>
        <div class="box_images"></div>
      </div>
      <hr>
    </section>

    <!-- GET IT Python 3 points-->
    <section class="container">
      <div class="points_container">
        <h1 class="points_title">Benefits using GET IT PYTHON</h1>
        <p>GET IT PYTHON is a wonderful tool to study programing...</p>

        <div class="points_flex">
          <div class="point" id="point1">
            <h2 class="point_heading">Reward Badges</h2>
            <p class="points_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="point" id="point2">
            <h2 class="point_heading">Video Tutorial</h2>
            <p class="points_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod.</p>
          </div>
          <div class=" point" id="point3">
            <h2 class="point_heading">Job Support</h2>
            <p class="points_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <a href="{% url 'course_list' %}"><button class="point_button">Our Course</button></a>
      </div>
    </section>

{% endblock content %}