{% extends "base.html" %}


{% block title %} 
    Course Detail
{% endblock title %} 


{% block content %}
<section class="container">
    <div class="course_detail_container">

        <div class="course_content">
            <h1 class="course_heading">{{ course.name }} 
            <span class="course_price">Price: $ {{ course.price }}</span></h1>
            <p class="border"><p>

            <h2 class="course_detail_title"> {{ course.whatHeading }} </h2>
            <p class="course_detail_p"> {{ course.whatDescription }} </p>
            <br>
            <h2 class="course_detail_title"> {{ course.howHeading }}:</h2>
            <p class="course_detail_p"> {{ course.howDescription }} </p>
        </div>

        <div class="course_menu">
            <h2 class="course_detail_title">{{ course.name }} Topics:</h2>
            {% for topic in object.topic_set.all %}
                <div class="card">
                    <h3 class="topic_name">{{topic.name}}</h3>
                    {% for content in topic.content_set.all %}
                        <a class="cont_name" href="#"><i class="fas fa-caret-right"></i> {{content.name}}</a>
                    {% endfor content %}
                </div>
            {% endfor topic %}
            <button class="btn_topic_list">
                <a href="{% url 'topic_list' %}">More about Topics</a>
            </button>
        </div>
          
    </div>
</section>
{% endblock content %}