{% extends "base.html" %} 

{% block title %} 
    Course List 
{% endblock title %}

{% block content %}
<section class="container">
    <div class="course_container">
    {% if user.is_authenticated %}
        {% for group in user.groups.all %}
            {% if group.name == "Developer" %}
                <div style="margin-bottom:20px;">
                    <h1 class="course_heading">Developer Options</h1>
                    <h2 class="course_title"><a href="{% url 'course_new' %}">Add New Course</a></h2>
                </div>
            {% endif %}
        {%endfor%}
    {% endif %}
    <h1 class="course_heading">Course List</h1>
    <p class="border"><p>
    {% for course in course_list %}
        <h2 class="course_title">
            <a href="{% url 'course_detail' course.pk %}">
                {{ course.name }}
            </a>
            
        </h2>
        
        {% for enrolment in course.enrolment_set.all %}

            {% if enrolment.user == user %}
                <p> {{ enrolment }}</p>
                <p> Grade: {{ enrolment.grade }} %</p>
            {% endif %}
                

        {% endfor enrolment %}

    {% endfor %}


    

    </div>
</section>
{% endblock content %}
