{% extends "base.html" %}


{% block title %} 
    Course Detail
{% endblock title %} 


{% block content %}
<section class="container">
    <div class="course_container">
        {% if user.is_authenticated %}
            {% for group in user.groups.all %}
                {% if group.name == "Developer" %}
                    <div style="margin-bottom:20px;">
                        <h1 class="course_heading">Developer Options</h1>
                        <h2 class="course_title"><a href="{% url 'topic_add' %}">Add Topic</a></h2>
                        <h2 class="course_title"><a href="{% url 'course_edit' course.pk %}">Edit Course</a></h2>
                        <h2 class="course_title"><a href="{% url 'course_delete' course.pk %}">Delete Course</a></h2>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="course_content">
            <h1 class="course_heading">{{ course.name }} 
            <span class="course_price">Price: $ {{ course.price }}</span></h1>
            <span class="course_price">#REGISTER BUTTON#</span></h1>
            <p class="border"><p>

            <h2 class="course_detail_title"> {{ course.whatHeading }} </h2>
            <p class="course_detail_p"> {{ course.whatDescription }} </p>
            <br>
            <h2 class="course_detail_title"> {{ course.howHeading }}:</h2>
            <p class="course_detail_p"> {{ course.howDescription }} </p>
        
            <br>

            <h2 class="course_detail_title">{{ course.name }} Topics:</h2>
            
            <div class="course_detail_flex">       
                {% for topic in topics %}
                    
                    {% include 'components/topic_card.html' %} 
                
                {% endfor topic %}
            <div> 

            <button class="btn_topic_list">
                <a href="{% url 'topic_list' course.id %}">More about Topics</a>
            </button>
        </div>
    </div>
</section>
{% endblock content %}