{% extends 'courses/course_base.html' %}

{% block title %} 
    Course List 
{% endblock title %}

{% block course_header %}
    {% if user.is_authenticated %}
    <div class="course_header_container">
        <div class="container">
            <div class="course_header_container">
                <div>
                    <h1 class="course_heading_white">Course List</h1>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="course_header_container">
            <div class="container">
                <div class="course_header_container">
                    <div>
                        <h1 class="course_heading_white">Various Courses for Coding</h1>

                        <p class="course_header_p">GET IT teams are all experienced developers,<br>
                            We know how to learn and what to do.<br>
                            Our best tutorials has variery with many good sourse.
                        </p>
                    </div>
                        <div>
                            <a class="course_btn_post" href="#">
                                Get Start Studing</a>
                        </div>    
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block course_content %}
    <section class="container">
        <div class="course_container">

            <h1 class="course_heading">{{ user.username }}'s Course Detail</h1>
            {% for course in courses %}
                <div class="card_course">
                    <h2 class="course_title">
                        <a href="{% url 'course_detail' course.pk %}">
                            {{ course.name }}
                        </a>       
                    </h2>
                

                {% include 'components/course_card.html' %}
                        {% if enrolment.user == user %}
                            <div class="course_progressbar_container">
                                <div class="course_progressbar_title"><p>Course Progress: </p></div>
                                <div class="course_progressbar_grey">
                                    <div class="course_progress" style="width:{{ enrolment.grade|add:0 }}%">{{ enrolment.grade }} %</div>
                                </div>
                            </div>
                            <div class="course_progressbar_container">
                                <div class="course_progressbar_title"><p>Course Results: Question Count </p></div>
                            </div>
                        {% endif %}          
                </div>
            {% endfor %}

            {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                    {% if group.name == "Developer" %}
                            <h3 class="course_add_link">
                                <a href="{% url 'course_new' %}"><i class="fas fa-plus-circle" id="orange"></i> Add New Course</a>
                            </h3>
                    {% endif %}
                {%endfor%}
                

            {% endif %}
        </div>
    </section>
{% endblock course_content %}
