{% extends "base.html" %}


{% block title %} 
    Topic Detail
{% endblock title %} 


{% block content %}
<section class="container">
    <div class="course_container">
        {% if user.is_authenticated %}
            {% for group in user.groups.all %}
                {% if group.name == "Developer" %}
                    
                {% endif %}
            {% endfor %}
        {% endif %}

        <div>
            <h1 class="course_heading">{{ topic.name }}</h1>
        </div>
            <p class="border">{{ topic.intro }}<p>

        <div class="course_detail_flex">
        
        {% for c in content %}
        
            {% include 'components/content_card.html' %}
        
        {% endfor %}
        
        <div> 
        
          
    </div>
</section>
{% endblock content %}