{% extends 'courses/course_base.html' %}

{% block title %} 
    Delete Topic
{% endblock title %} 

{% block course_content %}
    <div class="course_container">
        <h1 class="forum_form_title">Delete the Topic</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <p class="delete_text">Are you sure you want to delete "{{ topic.name }}"?</p>
            <button type="submit" class="form_delete_button">Confirm</button>
        </form>
    </div>
</section>
{% endblock course_content %}
