{% extends 'forums/forum_base.html' %}
 
{% block preforum %}
    <h1>{{ forum.name }}</h1>
    <h2>Member Count: {{ forum.members.count }}</h2>
    <div class="content">
        {% if user in forum.members.all %}
            <a href="{% url 'forums:leave' slug=forum.slug %}" class='btn'>
                <span class='glyphicon glyphicon-remove-circle'></span>Leave</a>
        {% else %}
            <a href="{% url 'forums:join' slug=forum.slug %}" class='btn'>
                <span class='glyphicon glyphicon-ok-circle'></span>Join</a>
        {% endif %}
    </div>    
{% endblock %}


{% block forum_content %}
    <div class="col-md-8">
        {% if forum.posts.count == 0 %}
            <h2>No posts in this group yet!</h2>
        {% else %}
            {% for post in forum.posts.all %}
                {% include "posts/_post.html" %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}