{% extends 'forums/forum_base.html' %}

{% block preforum %}
<div class="container">
    <div class="content">
        {% if user.is_authenticated %}
            <p>You are login as {{user.username}}</p>
        {% endif %}
    </div>
    <div>
        <h4>Category List</h4>
        <ul>
        {% for c in category %}
            <li>{{c.name}}</li>
        {% endfor %}
        </ul>
    </div> 

    {% if user.is_authenticated %}
    <a class="forum_btn" href="{% url 'forums:create' %}" class='btn btn-md btn-fill btn-warning'>Cretae New Topic</a>
    {% endif %}
</div>
{% endblock %}


{% block forum_content %}
<div class="col-md-8">
    <div class="container">
        {% for forum in forum_list %}
        <div class="card">
        <a class='list' href="{% url 'forums:single' slug=forum.slug %}">
            <h3>{{forum.title}}</h3>
            <p>Date of issue: {{forum.created_at}}</p>
            <p>Detail: {{forum.description|truncatewords:50}}</p>
            <p>The Questioner: {{forum.user}}</p>
            <p>Is the issue closed?: {{forum.is_closed}}</p>
            <div class="list">
                <div class-"row">
                    <div class="col-md-4">
                    </div>    
                </div>
            </div>
        </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}