{% extends 'base.html' %}
{% block content %}
<!-- Q&A Header -->

    {% block forum_header %}{% endblock %}


<!-- Q&A contents -->
<div class="container">
        <div class="forum_main_flex">
            <div class="forum_main_flex_contents">
                {% block preforum %}{% endblock %}
                {% block forum_content %}{% endblock %}
                {% block post_content %}{% endblock %}
            </div>
            <div class="forum_main_flex_category">
                {% block category %}{% endblock %}
            </div>
        </div>
    <div>
</div>
{% endblock %}