{% extends 'forums/forum_base.html' %}

{% block forum_content %}
    <div class="card_forum_detail">
        <h2 class="forum_list_title">{{forum.title}}</h2>
        <p class="form_list_text">{{forum.description}}</p>
        <hr>
        <div class="forum_list_detail">
            <span id="tag">{{forum.category}}</span>
            <span><i class="fas fa-user"></i> {{forum.user}}</span>
            <span><i class="far fa-clock"></i> {{forum.created_at}}</span>
            <span><i class="far fa-comments"></i> 7</span>
            {% if forum.is_closed != true %}
                <span><i class="far fa-frown-open"></i> Unsolved</span>
            {% else %}
                <span><i class="fas fa-check" style="color:#F5C03B;"></i> Solved</span>
            {% endif %}         
        </div>
    </div>
{% endblock %}


{% block post_content %}
    <div class="card_comment">
        <div class="comment_title_container">
            <div><h2 class="forum_list_title">Comments</h2></div>
            {% if user.is_authenticated %}
                <div>
                    <a href="{% url 'forums:add_comment_to_post' pk=forum.pk %}" class='add_coment'><i class="fas fa-plus-circle"></i> Post a Comment</a><br>
                </div>
            {% endif %}
        </div>
        <hr>
        <p class="form_list_text">No comment!</p>

        {% for comment in forum.comments.all %}
        <div class="forum_comment_detail">
            <p class="form_list_text">{{ comment.message }}</p>

            <span><i class="fas fa-user"></i> {{ comment.user }}</span>
            <span><i class="far fa-clock"></i> {{ comment.created_at }}</span>
        </div>
        <hr>
        {% endfor %}
    </div>
{% endblock %}


{% block category %}
    <div class="card_forum_detail">
        <h3 class="forum_cat_title">Category</h3>
        <hr>
        <div class="forum_cat_list_container">
            {% for c in category %}
            <a class="forum_cat_box" href="#">{{c.name}} &#40; 5 &#41;</a>
            {% endfor %}
        </div>
    <div>
{% endblock %}
