{% extends "posts/post_base.html" %}

{% block pre_post_content %}
    <div class="col">
        {% if request.user.is_authenticated %}
        <div class="card card-with-shadow">
            <div class="content">
                <h5 class='title'>Your Groups</h5>
                <ul class='list-unstiled'>
                    {% for member_forum in get_user_forums %}
                    <li class="'list">
                        <a href="{% url 'forums:single' slug=member_forums.forum.slug %}">{{ member_forum.forum.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="card card-with-shadow">
            <div class="content">
                <h5 class="'title">All Groups</h5>
                <ul class="'list-unstyle">
                    {% for other_forum in get_other_forums %}
                    <li class="li-with-bullet">
                        <a href="{% url 'forums:single' slug=other_forum.slug %}"></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


