<div class="card_course_topic">
    
    <h3 class="topic_name"><a href="{% url 'content_detail' pk=c.id %}">{{c.name}}</a></h3>
    
    <div class="topic_container">
        <span class="course_progressbar_title"><i class="far fa-clock" id="purple"></i> {{ c.minutesToComplete }} min</span>
        <span class="course_progressbar_title" style="padding-left:10px"><i class="fas fa-star" id="purple"></i> Progress: RESULTS/{{ c.count_questions }}</span>
        <br>
        {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                    {% if group.name == "Developer" %}
                        <h3 class="course_add_link">
                            <a href="{% url 'topic_delete' topic.pk %}" style="padding-left:20px"><i class="fas fa-trash-alt" id="orange"></i> Delete Topic</a>
                        </h3>
                        <h3 class="course_add_link" style="padding-left:20px">
                            <a href="{% url 'topic_edit' topic.pk %}"><i class="fas fa-edit" id="purple"></i> Edit Topic</a>
                        </h3>      
                    {% endif %}
                {%endfor%}
            {% endif %}
    </div>
 
</div>

    
    
