<div class="card_course_topic_container">
    
    <h3 class="topic_name">
        <a href="{% url 'content_detail' pk=content.id %}">{{content.name}}</a>
    </h3>
    
    <div class="topic_container">
        <span class="course_progressbar_title"><i class="far fa-clock" id="purple"></i> {{ content.minutesToComplete }} min</span>
        <span class="course_progressbar_title" style="padding-left:10px"><i class="fas fa-star" id="purple"></i> Progress: RESULTS/{{ content.count_questions }}</span>
        <br>
    </div>
 
</div>

    