<div class="card">
    <div>
        <div style="float:right;">
            <a style="color:#9c62d1" href="#">Delete</a>
        </div>
        <div style="float:right;margin-right:10px;">
            <a style="color:#9c62d1" href="#">Edit</a>
        </div>
    </div>
    <h5>Question</h5>
    <a href="{% url 'content_detail' pk=content.id %}" type="button">
        <h3 class="topic_name">
            {{question.question}}
        </h3>
        <h3 class="topic_name">
            {{question.answer}}
        </h3>
    </a>
    
</div>