<div class="card">
    <div>
        <div style="float:right;">
            <a style="color:#9c62d1" href="#">Delete</a>
        </div>
        <div style="float:right;margin-right:10px;">
            <a style="color:#9c62d1" href="#">Edit</a>
        </div>
    </div>
    <h5>Question</h5>
    <a href="{% url 'content_detail' pk=content.id %}" type="button">
        <h3 class="topic_name">
            {{question.question}}
        </h3>
        <button id="true_{{question.id}}" type="button" value="True" class="topic_name">
            True
        </button>
        <button id="false_{{question.id}}" type="button" value="True" class="topic_name">
            False
        </button>
    </a>
    {% for result in user_results %}
        {% if result.question == question %}
            {% if result.result %}
                <p>user result: Passed</p>
            {% else %}
                <p>user result: Failed</p>
            {% endif %}
        {% endif %}
    {% endfor %}
    
    
</div>

<script>
    $("#true_{{question.id}}").click(function () {
         $.ajax({
             type: "POST",
             url: "{% url 'answer_true' id=question.id pk=content.id %}",
             data: { 'csrfmiddlewaretoken': '{{csrf_token}}' },
             dataType: "json",
             success: function (r) {
                 alert(r)
             },
             error: function (rs, e) { }
         });
    })
 </script>