<div class="card_course_topic_container">
    
    <h3 class="topic_name">
        <a href="{% url 'topic_detail' pk=topic.id %}"> {{topic.name}}</a>
    </h3>

    {% for content in topic.content_set.all %}
    {% if content.topic == topic %}
        <div class="topic_container">
            <div class="container_responsive">
                <i class="fas fa-dot-circle" id="purple"></i>
                <p class="topic_cont_name">&nbsp;{{content.name}}</p>
            </div>
            <span class="topic_cont_detail"> 
                <i class="far fa-clock"></i> {{ content.minutesToComplete }} min</span>
            <span class="topic_cont_detail" style="padding-left:10px">
                <i class="far fa-file-alt"></i> Questions: {{ content.template_user_result }} / {{ content.count_questions }}</span>
        </div>
	{% endif %}
{% endfor content %}      
</div>