{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Tours {% endblock title %}</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'images/book_white.png' %}" type="image/x-icon">
</head>
<body>
    <header>
        <div class="fullwidth">
            <div class="gridbox">
                <div style="float:left;"><div style="float:left;margin-top:15px"><img src="{% static 'images/book_white.png' %}" alt="Girl in a jacket" width="32" height="32"></div><div style="float:left;margin-left:15px"><h2>Python Ludo Tutorial</h2></div></div>
                <div class="buttonbox">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}"><div class="navbutton">Logout</div></a>
                    {% else %}
                        <a href="{% url 'login' %}"><div class="navbutton">Login</div></a>
                        <a href="{% url 'signup' %}"><div class="navbutton">Sign Up</div></a>
                    {% endif %}
                    <a href="{% url 'about' %}"><div class="navbutton">About</div></a>
                    <a href="{% url 'home' %}"><div class="navbutton">Home</div></a>
                    
                    
                </div>
            </div>
        </div>
    </header>
    <section>
        <img src="{% static 'images/bannerlearing.png' %}" alt="Girl in a jacket" width="633" height="350">
        {% block content %} {% endblock content %}
    </section>
    
    
</body>
</html>