<!-- ########################## Course/Navbar ########################## -->
<div class="course_nav_container">
<nav class="container">
    <div class="course_topnav">
        <a id="c_menu" href="{% url 'course_detail' 1 %}">PYTHON</a>
        <a id="c_menu" href="{% url 'course_detail' 2 %}">HTML</a>
        <a id="c_menu" href="{% url 'course_detail' 3 %}">CSS</a>
        <a id="c_menu" href="{% url 'course_detail' 4 %}">JAVASCRIPT</a>
        <a id="c_menu" href="{% url 'course_detail' 5 %}">SQL</a>
        <a id="c_menu" href="{% url 'course_detail' 6 %}">PHP</a>
        <a id="c_menu" href="{% url 'course_detail' 7 %}">Bootstrap</a>
        <a id="c_menu" href="{% url 'course_detail' 8 %}">C#</a>
    </div>
</nav>
</div>

