<!-- ########################## Course/Navbar ########################## -->
<div class="course_nav_container">
<nav class="container">
    <div class="course_topnav" id="myTopnav">
        <a id="c_menu" href="{% url 'course_list' %}">PYTHON</a>
        <a id="c_menu" href="#}">HTML</a>
        <a id="c_menu" href="#">CSS</a>
        <a id="c_menu" href="#">JAVASCRIPT</a>
        <a id="c_menu" href="#">SQL</a>
        <a id="c_menu" href="#">PHP</a>
        <a id="c_menu" href="#">C</a>
        <a id="c_menu" href="#">C++</a>
        <a id="c_menu" href="#">C#</a>
    </div>
</nav>
</div>

