{% load static %}

<!-- ########################## Footer ########################## -->
<div class="container">
    <div class="footer_items">
        <image src="{% static 'images/getitLogo.png' %}" alt="GET IT PYTHON Logo" />
    </div>
    <div class="footer_nav">
        <div><a class="p_right" href="#">Home</a></div>
        <div><a class="p_right" href="#">About</a></div>
        <div><a class="p_right" href="#">Tutorial</a></div>
        <div><a class="p_right" href="#">Q &amp; A</a></div>
    </div>
    <div class="footer_items">
        <p class="copy_right">© 2022 GET IT PYTHON, All Rights Reserved</p>
    </div>
</div>