{% load static %}

<!-- ########################## Footer ########################## -->
<div class="container">
    <div class="footer_items">
        <image src="{% static 'images/getitLogo.png' %}" alt="GET IT PYTHON Logo" />
    </div>
    <div class="footer_nav">
        <div><a class="p_right" href="{% url 'home' %}">Home</a></div>
        <div><a class="p_right" href="{% url 'about' %}">About</a></div>
        <div><a class="p_right" href="{% url 'course_list' %}">Course</a></div>
        <div><a class="p_right" href="{% url 'forums:all' %}">Q &amp; A</a></div>
    </div>
    <div class="footer_items">
        <p class="copy_right">© 2022 GET IT PYTHON, All Rights Reserved</p>
    </div>
</div>