{% load static %}

<!-- ########################## Header/Navbar ########################## -->
<nav class="container">
    <div class="topnav" id="myTopnav">
        <a href="{% url 'home' %}">
        <image id="logo" src="{% static 'images/getitLogo.png' %}" alt="GET IT PYTHON Logo"></image>
        </a>
        <a id="menu" href="{% url 'home' %}">Home</a>
        <a id="menu" href="{% url 'about' %}">About</a>
        <a id="menu" href="{% url 'course_list' %}">Course</a>
        <a id="menu" href="{% url 'forums:all' %}">Q &amp; A</a>

        {% if user.is_authenticated %}
            <a id="right" href="{% url 'logout' %}"><div class="navbutton">Logout <i class="fas fa-sign-out-alt"></i></div></a>
            <a id="right" href="{% url 'course_list' %}"><div class="navbutton">Your Courses  <i class="fas fa-user-circle"></i></div></a>

            {% for group in user.groups.all %}
                {% if group.name == "Developer" %}
                    <a id="right" href="{% url 'developer' %}"><div class="navbutton">Developer  <i class="fas fa-user-circle"></i></div></a>
                {% endif %}
            {%endfor%}
        {% else %}
            <a id="right" href="{% url 'login' %}"><div class="navbutton">Login  <i class="fas fa-sign-in-alt"></i></div></a>
            <a id="right" href="{% url 'signup' %}"><div class="navbutton">Sign Up  <i class="fas fa-user-plus"></i></div></a>
        {% endif %}

        <a id="menu_icon" href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
        </a>
    </div>
</nav>
